<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Lubabalo Foundation | Galla Dinner Event</title>
<meta name="description" content="Western Province Township Cricket Warriors Galla Dinner, is an event to raise funds for under privilege cricket players. The funds wil help the cricket team tour with other contries in UK...">
<link rel="shortcut icon" type="image/x-icon" href="http://www.lubabalofoundation.co.za/favicon.ico" />
<link rel="stylesheet" href="http://www.lubabalofoundation.co.za/css/normalize.min.css">
<link rel="stylesheet" href="http://www.lubabalofoundation.co.za/css/main.css">
<script src="http://www.lubabalofoundation.co.za/library/javascript/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<header>
	<div class="topbar2 cf">
    	<div class="wrap">
        	<div class="logobox slogo"><a href="http://www.lubabalofoundation.co.za/"><img src="http://www.lubabalofoundation.co.za/images/main_logo.png" width="282" height="52"></a></div>
            <div class="logobox plogo"><img src="http://www.lubabalofoundation.co.za/templates/tickets/images/main_logo.gif" width="282" height="52"></div>
        </div>
    </div>
</header>
<section>
    <div class="whitebox boxes cf">
    	<div class="wrap">
    		<h2 style="margin-bottom: 20px">Thank you for your support</h2>
            <p>Some event details should go here...</p>
            <p>Please find your ticket below. Print out this page and cut out the ticket on the doted lines.</p>
            <p>You should produce the cut out ticket or the entire printed document at the event.</p>
    	</div>
    </div>
    <div class="greybox tickbox cf">
    	<div class="wrap">
            <div class="tickets">
                <img src="http://www.lubabalofoundation.co.za/templates/tickets/images/ticket.png" width="1000" height="503" alt="" />
                <div class="cutlines"></div>
                <div class="tick_id">{$userData.participantticket_code}</div>
                <div class="price_id">R{$userData.ticket_price|number_format:2:",":"."}</div>
            </div>
        </div>
    </div>
</section>
<footer>
	<div class="whitebox boxes cf">
    	<div class="wrap">
        	<div class="footlinks">
				<p>
					<a target="_blank" style="color: #4c4c4c;" href="http://www.lubabalofoundation.co.za/mailers/view/{$tracking}/">View on browser</a>
				</p>
            	<div class="flinks">
                    <a href="http://www.lubabalofoundation.co.za/">The Event</a> |
                    <a href="http://www.lubabalofoundation.co.za/profiles/">Who it's for</a> |
                    <a href="http://www.lubabalofoundation.co.za/galleries/">Our pictures</a> |
                    <a href="http://www.lubabalofoundation.co.za/contacts/">Get in touch</a><br />
                </div>
                <div class="fcopy">
                	&copy; 2014.www.lubabalofoundation.co.za. All rights reserved.<br />
                	Designed &amp; developed by: <a href="http://www.willow-nettica.co.za/" target="_blank" style="text-transform: capitalize;">Willow-Nettica</a>
                </div>
            </div>
            <div class="soclinks">
            	<a href="https://www.facebook.com/lubabalofoundation" target="_blank"><img src="http://www.lubabalofoundation.co.za/images/fb_icon.gif" width="36" height="36" alt="Facebook" /></a>
                <a href="https://twitter.com/lubabalongo" target="_blank"><img src="http://www.lubabalofoundation.co.za/images/tw_icon.gif" width="36" height="36" alt="Twitter" /></a>
                <a href="https://plus.google.com/100681979061630328546" target="_blank"><img src="http://www.lubabalofoundation.co.za/images/g_icon.gif" width="36" height="36" alt="Google Plus" /></a>
            </div>
        </div>
    </div>
</footer>
<img src="http://www.lubabalofoundation.co.za/mailers/tracking/{$tracking}" height="0" alt="" width="0" />
</body>
</html>